section#block-views-salem-temperature-block div.views-field-temperature span.field-content { font-family: 'Museo Heavy'; font-style: normal; font-weight: 700; }
p, div { font-family: 'Museo Light'; font-style: normal; font-weight: 300; }
h2, h3, h4 { font-family: 'Museo Regular'; font-style: normal; font-weight: 500; }
h1 { font-family: 'Trocchi Bold'; font-style: normal; font-weight: bold; }
