@font-face {
  font-family: 'Rotis';
  src: url("2FFE6C_0_0.eot");
  src: url("2FFE6C_0_0.eot?#iefix") format("embedded-opentype"), url("2FFE6C_0_0.ttf") format("truetype"), url("2FFE6C_0_0.woff") format("woff"), url("2FFE6C_0_0.svg#wf") format("svg");
  font-style: normal;
  font-weight: 500;
}
