/* #hih_gadget:hover { height:180px !important; max-height:180px !important;} */
div.ui-datepicker.ui-widget.ui-widget-content {background:orange;}
#hih_gadget html body div#ui-datepicker-div {background:orange !important;}
#hih_gadget table.ui-datepicker-calendar {background:orange !important;}
#shitty {position: absolute; 
    background: #758E4A;
    top: 131px;
    left: 34%;
     height:38px;
    width: 28%; padding:0px;} 
#shitty p {display:none;}
#block-block-17 {float: right;
    width: 90%;
    margin: 0px 5%;
}
#block-block-17 h2 {display:none;}

#hih_gadget_wrap {margin-top:0px !important;}

/* SHOULD JUST BE A GRAPHIC */
#block-block-17 input {background: url("http://gadgets.hotelinternethelp.com/assets/159/351/img/calendar.jpg") no-repeat scroll 50% center #FFFFFF;
    padding: 0 6px;
    line-height: 30px;
    width: 16%; margin:4px 42%;}