/***--BOOTSTRAP BREAKPOINTS-- ***/

@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}
/* Universal */
body {background: #fff; /* #f2e7ec; */ line-height:140%;}
a { color:#632548;}
h2, h3, h4, p {color:black;}
p {font-size:1.2em;}
div.main-container.container  { padding:0px; max-width:none; width:100%;}
.not-front div.main-container.container {max-width:1170px; margin:0px auto;}
.navbar.container {width:100%; max-width:none; margin-top:0px;}
.navbar-default {border:0px; background:none;}
footer.footer.container  {width:100%; max-width:none;}
div.row section.col-sm-12 {padding:0px !important;}
.row {margin:0px !important;}
.container {padding:0px !important;}
.col-sm-12 { margin: 0 auto;width: 100%;}
.navbar #block-search-form {max-width:200px;}

/* Header */
header#navbar { float: none; margin: 0 auto !important; max-width: 1170px; height:122px;}

/* Front */
.panel-3col-33-stacked .panel-separator {margin:0;}


/* Carousel */
div#SalemCarousel {background: /* #f9f8ce */ #f7f7f7;}
div#SalemCarousel .carousel-control.left, div#SalemCarousel .carousel-control.right {background-image:none;}
div#SalemCarousel div#myCarousel { margin: 0 auto; max-width: 1490px; position: relative; width: 100%;}


div#SalemCarousel div#myCarousel.carousel.slide div.item {height:auto;}
div#SalemCarousel div#myCarousel.carousel.slide div#slide-1 {}
div#SalemCarousel div#myCarousel.carousel.slide div#slide-2 {}
div#SalemCarousel div#myCarousel.carousel.slide div#slide-3 {}
div#SalemCarousel div#myCarousel.carousel.slide div#slide-4 {}

div#SalemCarousel .carousel-caption { left: 10%; padding-bottom: 0px; right: 40%; text-align: left; top: 0; padding: 9px 24px 9px 30px; background:url(../../../../../sites/default/files/siteart/25_pct_black.png); height:100%;}
div#SalemCarousel .carousel-caption a {text-decoration:none; color:white;}
div#SalemCarousel .carousel-caption a:hover {text-decoration:none; color:#f9f8ce;}
div#SalemCarousel .carousel-caption h3 {color:white; font-size:3em;letter-spacing:1px; line-height:125%;}
div#SalemCarousel .carousel-caption p  {color:white; font-size:1.75em; line-height:125%; }


div#SalemCarousel .carousel-indicators li.active {background:white;}
div#SalemCarousel .carousel-indicators li {height:25px !important; width:25px !important; border-radius: 15px; margin:6px; border:2px solid white; background:url(../../../../../sites/default/files/siteart/indicator_fill.png)}



/* Site Introduction - Home */

.front div#siteintro {text-align:center; background:#f2e7ec; padding:36px 0; }
.front div#siteintro div.pane-content {max-width:1080px; margin:0px auto;}
.front div#siteintro h1 {color:#632548; margin:0px 0px 20px; line-height:1; font-size:2.1em; letter-spacing:0.75px;}
.front div#siteintro h3 {font-family: "Museo Light"; margin:0; line-height: 135%; font-weight:200; font-size: 1.4em; letter-spacing:0.5px;}

/* Utility Icons */

section#block-block-2 {max-width:150px; float:right; padding-top:16px;}
section#block-block-2 img {margin-right:24px;}

/* Search */

section#block-search-form {padding-top: 6px;}

/* Temperature */

section#block-views-salem-temperature-block {float:right;}
section#block-views-salem-temperature-block div.views-field-temperature {padding-top:17px;}
section#block-views-salem-temperature-block div.views-field-temperature span.field-content {font-size:1.75em; margin-right:24px;}
section#block-views-salem-temperature-block div.views-field-temperature span.degree-symbol {font-weight:200; font-family:"Museo Light"; padding-left:1px;}
