/***--BOOTSTRAP BREAKPOINTS-- ***/

@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}
/* Universal */
body {background: #bbb; /* #f2e7ec; */ line-height:140%;}
a { color:#632548;}
h2, h3, h4, p {color:black;}
p {font-size:1.2em;}
div.main-container.container  { padding:0px; max-width:none; width:100%;}
.navbar.container {width:100%; max-width:none; margin-top:0px;}
footer.footer.container  {width:100%; max-width:none;}
div.row section.col-sm-12 {padding:0px !important;}
.row {margin:0px !important;}
.container {padding:0px !important;}
.col-sm-12 { margin: 0 auto;width: 100%;}

/* Header */
.navbar-header { float: none; margin: 0 auto !important; max-width: 1490px;}
