/***--BOOTSTRAP BREAKPOINTS-- TRAVEL SALEM ***/

@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}
/* Universal */
body {background: #fff; /* #f2e7ec; */ line-height:140%;}
transition:.5s;
a  { color:#632548;}
a, h1, h2, h3, h4, p, div, li {transition:0.3s;}
h2, h3, h4, p {color:black;}
p {font-size:1.2em;}
div.main-container.container  { padding:0px; max-width:none; width:100%;}
.not-front div.main-container.container {max-width:1170px; margin:0px auto;}
.navbar.container {width:100%; max-width:none; margin-top:0px;}
.navbar-default {border:0px; background:none;}
footer.footer.container  {width:100%; max-width:none;}
div.row section.col-sm-12 {padding:0px !important;}
.row {margin:0px !important;}
.container {padding:0px !important;}
.col-sm-12 { margin: 0 auto;width: 100%;}
.navbar #block-search-form {max-width:200px;}

/* Header */
header#navbar { float: none; margin: 0 auto !important; max-width: 1170px; height:122px;}

/* Front */
.panel-3col-33-stacked .panel-separator {margin:0;}


/* Carousel */
div#SalemCarousel {background: /* #f9f8ce */ #f7f7f7;}
div#SalemCarousel .carousel-control.left, div#SalemCarousel .carousel-control.right {background-image:none;}
div#SalemCarousel div#myCarousel { margin: 0 auto; max-width: 1490px; position: relative; width: 100%;}


div#SalemCarousel div#myCarousel.carousel.slide div.item {height:auto;}
div#SalemCarousel div#myCarousel.carousel.slide div#slide-1 {}
div#SalemCarousel div#myCarousel.carousel.slide div#slide-2 {}
div#SalemCarousel div#myCarousel.carousel.slide div#slide-3 {}
div#SalemCarousel div#myCarousel.carousel.slide div#slide-4 {}

div#SalemCarousel .carousel-caption { left: 10%; padding-bottom: 0px; right: 40%; text-align: left; top: 0; padding: 9px 24px 9px 30px; background:url(../../../../../sites/default/files/siteart/25_pct_black.png); height:100%;}
div#SalemCarousel .carousel-caption a {text-decoration:none; color:white;}
div#SalemCarousel .carousel-caption a:hover {text-decoration:none; color:#f9f8ce;}
div#SalemCarousel .carousel-caption h3 {color:white; font-size:3em;letter-spacing:1px; line-height:125%;}
div#SalemCarousel .carousel-caption p  {color:white; font-size:1.75em; line-height:125%; }


div#SalemCarousel .carousel-indicators li.active {background:white;}
div#SalemCarousel .carousel-indicators li {height:25px !important; width:25px !important; border-radius: 15px; margin:6px; border:2px solid white; background:url(../../../../../sites/default/files/siteart/indicator_fill.png)}



/* Site Introduction - Home */

.front div#siteintro {text-align:center; background:#f2e7ec; padding:36px 0; }
.front div#siteintro div.pane-content {max-width:1080px; margin:0px auto;}
.front div#siteintro h1 {color:#632548; margin:0px 0px 20px; line-height:1; font-size:2.1em; letter-spacing:0.75px;}
.front div#siteintro h3 {font-family: "Museo Light"; margin:0; line-height: 135%; font-weight:200; font-size: 1.4em; letter-spacing:0.5px;}

/* Utility Icons */

section#block-block-2 {max-width:150px; float:right; padding-top:16px;}
section#block-block-2 img {margin-right:24px;}

/* Search */

section#block-search-form {padding-top: 6px;}

/* Temperature */

section#block-views-salem-temperature-block {float:right;}
section#block-views-salem-temperature-block div.views-field-temperature {padding-top:17px;}
section#block-views-salem-temperature-block div.views-field-temperature span.field-content {font-size:1.75em; margin-right:24px;}
section#block-views-salem-temperature-block div.views-field-temperature span.degree-symbol {font-weight:200; font-family:"Museo Light"; padding-left:1px;}

/* Front - Marketing Bands */
div#band-places, div#band-eat-drink, div#band-recreation {height:310px; width:100%;}
div#band-places h3, div#band-eat-drink h3, div#band-recreation h3 {letter-spacing:0.5px; font-size: 1.5em; padding-top:30px; min-width:310px; margin-top:0px;}
div#band-places p, div#band-eat-drink p, div#band-recreation p{min-width:310px;}
div#band-places {background:#f9f8ce url(../../../../default/files/siteart/band_places.jpg) top left no-repeat; float:left; }
div#band-eat-drink {background:#FFF url(../../../../default/files/siteart/band_eat.jpg) top right no-repeat; float:right;}
div#band-recreation {background:#ecf1fa url(../../../../default/files/siteart/band_recreation.jpg) top left no-repeat; float:left; }

div#band-places div.pane-content {max-width:1170px;  margin:0px auto; padding-left:55%; height:310px;}
div#band-eat-drink div.pane-content {max-width:1170px;  margin:0px auto; padding-right:58%; height:310px;}
div#band-recreation div.pane-content {max-width:1170px; margin:0px auto; padding-left:41%; height:310px;}

@media(min-width:1400px) and (max-width:1499px){
div#band-places div.pane-content {padding-left:60%;}
div#band-eat-drink div.pane-content {padding-right:63%;}
div#band-recreation div.pane-content { padding-left:45%;}
}

@media(min-width:1500px) and (max-width:1599px){
div#band-places div.pane-content {padding-left:52.5%;}
div#band-eat-drink div.pane-content {padding-right:55%;}
div#band-recreation div.pane-content { padding-left:38.5%;}
}

@media(min-width:1600px) and (max-width:1699px){
div#band-places div.pane-content {padding-left:47%;}
div#band-eat-drink div.pane-content {padding-right:50%;}
div#band-recreation div.pane-content { padding-left:33%;}
}
@media(min-width:1700px) and (max-width:1799px){
div#band-places div.pane-content {padding-left:41%;}
div#band-eat-drink div.pane-content {padding-right:44%;}
div#band-recreation div.pane-content { padding-left:28%;}
}

@media(min-width:1800px) and (max-width:1899px){
div#band-places div.pane-content {padding-left:36%;}
div#band-eat-drink div.pane-content {padding-right:38%;}
div#band-recreation div.pane-content { padding-left:24%;}
}

@media(min-width:1900px) and (max-width:1999px){
div#band-places div.pane-content {padding-left:32%;}
div#band-eat-drink div.pane-content {padding-right:33%;}
div#band-recreation div.pane-content { padding-left:20%;}
}

@media(min-width:2000px) and (max-width:2099px){
div#band-places div.pane-content {padding-left:27%;}
div#band-eat-drink div.pane-content {padding-right:29%;}
div#band-recreation div.pane-content { padding-left:16%;}
}

@media(min-width:2100px) and (max-width:2199px){
div#band-places div.pane-content {padding-left:24%;}
div#band-eat-drink div.pane-content {padding-right:25%;}
div#band-recreation div.pane-content { padding-left:13%;}
}

@media(min-width:2200px) and (max-width:2299px){
div#band-places div.pane-content {padding-left:20%;}
div#band-eat-drink div.pane-content {padding-right:21%;}
div#band-recreation div.pane-content { padding-left:10%;}
}

@media(min-width:2300px) and (max-width:2399px){
div#band-places div.pane-content {padding-left:17%;}
div#band-eat-drink div.pane-content {padding-right:18%;}
div#band-recreation div.pane-content { padding-left:8%;}
}

@media(min-width:2400px){
div#band-places div.pane-content {padding-left:14%;}
div#band-eat-drink div.pane-content {padding-right:15%;}
div#band-recreation div.pane-content { padding-left:5%;}
}